.login-container {
  width: 400px;
  margin: 0 auto;
  padding: 30px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  text-align: center;
  margin-top: 14%;
}

h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #6a1b9a;
}

.input-container {
  margin-bottom: 20px;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px;
  margin-top: 5px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 16px;
  box-sizing: border-box;
}

.button-container {
  margin-top: 20px;
}

.submit-button {
  width: 100%;
  padding: 12px;
  background-color: #6a1b9a;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #501774;
}

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1000;
}

.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.alert-error {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}