<nav class="navbar navbar-expand-lg navbar-light bg-white">
    <a class="navbar-brand" href="https://rastmobile.com/" target="_blank">
        <img src="../../assets/rastMobileLogo.png" alt="Rast Mobile Logo" />
    </a>
   
    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#">Hakkımızda</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Jüri - Yarışma Yazılımı</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Word Ninja</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Word Pyramids</a>
            </li>
        </ul>
    </div>
    <div class="social-icons d-none d-lg-flex"> 
        <a href="https://www.youtube.com/" target="_blank" class="mx-2"> 
            <img class="img-fluid" src="../../assets/youtube.png" style="width: 24px; height: 24px;" />
        </a>
        <a href="https://www.instagram.com/mobilerast/" target="_blank" class="mx-2">
            <img class="img-fluid" src="../../assets/instagram.png" style="width: 24px; height: 24px;" />
        </a>
        <a href="https://www.behance.net/rastmobile" target="_blank" class="mx-2">
            <img class="img-fluid" src="../../assets/be.png" style="width: 24px; height: 24px;" />
        </a>
        <a href="https://tr.linkedin.com/company/rastmobile" target="_blank" class="mx-2">
            <img class="img-fluid" src="../../assets/linkedin.png" style="width: 24px; height: 24px;" />
        </a>
    </div>
</nav>
